@import '../../styles/variables.scss';

.new-anime {

   &__list-item {
      display: flex;
      gap: 0px 15px;
   }

   &__list-item-image {
      max-width: 160px;
      max-height: 220px;
      width: 100%;
      height: 100%;
      & img {
         border-radius: 10px;
         width: 100%;
         height: 100%;
      }
   }

   &__list-item-info {
      display: flex;
      flex-direction: column;
      gap: 15px 0px;

   }

   &__list-item-title {

   }

   &__list-item-sub-title {
      font-size: 16px;
      color: #616060;
   }

   &__list-item-types {
      color: $text-color;
      font-size: 20px;
   }
}
