@import '../../styles/variables.scss';

.new-anime {

   &__title {
      font-weight: 500;
      font-size: 32px;
      margin: 0px 0px 35px 0px;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 35px 0px;
   }
}
