@import '../../styles/variables.scss';


.anime-search {
   box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   @media(max-width:1024px) {
      box-shadow: none;
   }
   select {
      background-color: #D9D9D9;
      padding: 12px 15px;
      font-weight: 400;
      font-size: 16px;
      color: #616060;
      appearance: none;
      position: relative;
   }
   &__selected-genre {
      font-size: 16px;
      margin: 10px 0px 10px 10px;
   }
   &__select-wrapper {
      margin: 12px 0px 0px 0px;
      display: flex;
      position: relative;
      &:before {
         content: url('../../assets/selectarrow.svg');
         position: absolute;
         width: 12px;
         height: 7px;
         z-index: 1;
         right: 21px;
         top: 5px;
      }
      @media(max-width:1024px) {
         margin: 6px 0px 0px 0px
      }
      
   }
   &__header {
      display: flex;
      align-items: center;
      padding: 25px 32px;
      gap: 0px 33px;
      border-bottom: 2px solid $red-color;
      @media(max-width:1024px) {
         & img {
            width: 14.5px;
            height: 14.5px;
         }
         display: none;
         padding: 0px 0px;
         border-bottom: none;
      }
   }

   &__help-icon {
      cursor: pointer;
   }

   &__help-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:hover:before {
         display: block;
      }
      &:before {
         display: none;
         animation-name: fade;
         animation-duration: 0.3s;
         border-radius: 6px;
         text-align:center;
         bottom: 100%;
         position: absolute;
         content: 'В правом положении индикатора вы можете составить свой список жанров. В левом положении вы можете выбрать один жанр.';
         font-size: 0.7rem;
         width: 190px;
         height: 60px;
         background-color:rgba(0, 0, 0, 0.5);
         color: $bg-color;
         padding: 5px;
         line-height: 13px;
         @media(max-width:1024px) {
            right: 0;
         }
      }
   }

   &__title {
      font-weight: 500;
      font-size: 32px;
      @media(max-width:1024px) {
         font-size: 16px;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      padding: 0px 32px;
      @media(max-width:1024px) {
         padding: 0px;
      }
   }

   &__genres {
      align-items: center;
      margin: 26px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      @media(max-width:1024px) {
         margin: 10px 0px 0px 0px;
      }
   }

   &__toggle-wrapper {
      display: flex;
      gap: 0px 9px;
   }

   &__label {
      @media(max-width:1024px) {
         font-size: 14px;
      }
   }

   &__label:not(:first-child) {
      margin: 26px 0px 0px 0px;
      @media(max-width:1024px) {
         margin: 16px 0px 0px 0px;
      }
   }

   &__help-icon {
   }

   &__select {

      flex: 1 1 auto;
   }

   &__submit {
      display: block;
      font-size: 32px;
      padding: 10px 78px;
      background-color: #DEDEDE;
      margin: 48px auto 33px auto;
      max-width: 272px;
      @media(max-width:1024px) {
         padding: 5px 30px;
         font-size: 20px;
         margin: 28px auto 16px auto;
      }
   }
}



.anime-search {
   &__toggle {
      display: block;
      background-color: #F4D0D0;
      width: 53px;
      height: 30px;
      border-radius: 100px;
      position: relative;
   }

   &__checkbox {
      cursor: pointer;
      position: absolute;
      width: 53px;
      height: 30px;
      border-radius: 100px;
      background-color: #FF1F1F;
      z-index: 1;
      opacity: 0;
   }

   &__toggle-circle {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #FF1F1F;
      transition: 0.2s ease;
   }
}

.anime-search__toggle input[type=checkbox]:checked+.anime-search__toggle-circle {
   transform: translateX(22px);
   transition: 0.2s ease;
}
